body,
.sax__message-text>span>a {
    background-color: #070820;
}

.sax__username,
.sax__timestamp {
    color: #CCC;
}

.sax__message {
    border-image: linear-gradient(to right, #bbb, #162840) 1;
}

.mainbodyinner,
.aboutsidehead,
.file-list__item-stats > :nth-child(2n),
.gsc-tabHeader.gsc-tabhInactive,
.sax__message--highlighted,
.gsc-refinementHeader.gsc-refinementhInactive,
.treeview ul,
.post {
    background: #2C394B !important;
    color: aliceblue;
}

.gsc-tabHeader.gsc-tabhActive,
.sax__message:hover,
.token_tree,
.gsc-refinementHeader.gsc-refinementhActive {
    background: #3C495B !important;
    color: azure;
    border-color: #2C394B;
}

.largetext,
.smalltext,
.medtext,
.awards,
a.username,
.gensmall,
.gsc-result-info,
.gsc-orderby-label,
li.post-datetime > a {
    color: white;
}

a,
.gcsc-find-more-on-google {
    color: #33d6a4;
}

.gcsc-find-more-on-google-magnifier {
    fill: #33d6a4;
}

.glance_contents,
.post:nth-child(odd),
table.archives-listing tr:nth-child(even),
.aboutsidebar,
#aboutsidebar {
    background: #334756 !important;
}

section.sidebar__section,
div.mainlowermiddle,
div.mainheadmiddle,
.navsearchinput,
.banner_container,
.spaceRow,
.file-detail__contents-summary,
.file-detail__archive-contents-header th,
.file-detail__review-header,
.gsc-control-cse,
.messaging-tabs > a,
table.forumline table table td:first-of-type,
#___gcse_0,
.mainbody,
div#hbot {
    background: #0C3C5B !important;
    box-shadow: none;
}

.row2 .post,
table.archives-listing,
.archives-listing > thead > tr {
    border-color: #0C3C5B !important;
}

.sidebar__section,
#hbot {
    border: none;
}

.navsearchsubmit,
img[src$="avatar_default.png"],
img[src$="Cemetech6/images/folders_big.gif"],
img[src$="Cemetech6/images/folder_big.gif"],
img[src$="Cemetech6/images/whosonline.gif"],
img[src$="lang_english/icon_pm.gif"],
img[src$="lang_english/icon_www.gif"],
img[src$="lang_english/icon_email.gif"],
img[src$="lang_english/icon_ticalc.gif"],
img[src$="lang_english/icon_aim.gif"],
#htop,
.ppd_graph > img {
    filter: hue-rotate(200deg);
}

img[src$="Cemetech6/images/pips/expert.png"] {
    filter: invert(1);
}

#htop::after,
#htop::before {
    content: "";
    display: inline-block;
    border: 12px solid transparent;
    position: fixed;
    top: -12px;
}

#htop::after {
    border-right: 12px solid #7a3a2f;
    transform: rotate(45deg);
    left: -12px;
}

#htop::before {
    left: calc(100% - 12px);
    transform: rotate(135deg);
    border-right: 12px solid #6f2f1f;
}

tr > th {
    border-bottom: 1px solid #2C5C7B !important;
}

.sax-message a,
.pips,
.profile_brief .gen:nth-child(6) {
    background: #23c694;
    color: #050623;
}

.forum-action-button,
.nav-section__item > h3,
.post-action-button,
.nav-section__item > h2,
#edit_type {
    color: #050623;
}

/* polls */
table.forumline table table table {
	background: #23c694;
}

/* new profile graphs */
#user-post-stats text,
#forum-post-stats text {
    fill: white !important;
}

.js-line[style*="stroke: rgb(123, 41, 27)"] {
    stroke: #23c694 !important;
}

.js-line[style*="stroke: rgb(255, 127, 14)"] {
    stroke: #070820 !important;
}

.hoverlayer > .hovertext > path {
    fill: #070820 !important;
}

.hoverlayer > .hovertext > rect {
    fill: #23c694 !important;
}

.xgrid,
.ygrid {
    stroke: #222 !important;
}
